// Color Variables
$bg-pink: #e90051;
$bg-grey: #e9e9e9;
$hover-grey: #d9d9d9;
$white: #fff;

// Mixins
@mixin space-between() {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@mixin column() {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

// Global Reset
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  @include column;
  background: #c9c9c9;
  font-family: Arial, Helvetica, sans-serif;
  height: 100vh;
}

// Utilities
.hidden {
  display: none;
  opacity: 0;
}
